.header {
  background-color: #009590;
  overflow: hidden;
  height: 3rem;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0.3rem;
  }
}
.header-logo {
  color: #fff;
  font-size: 1.4rem;
  text-align: left;
}
.header-pointer {
  cursor: pointer;
}
.header-txt {
  position: relative;
  top: 0.1rem;
  font-size: 0.6rem;
  color: #fff;
  padding-left: 0.3rem;
}
.ant-meu {
  line-height: 2.8rem;
}
.ant-menu-item {
  font-size: 1rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header-left-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.ant-menu-horizontal {
  background-color: #009590;
}
.home-text {
  color: #fff;
  position: relative;
  top: 0.09rem;
}
